​
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="alta-movimientos">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }

            .button-send {
                cursor: pointer;
            }
        </style>
        <div class="container-fluid" style="padding-top: 10px">
            <div class="col-lg-10 col-md-10">
                <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>ALTA DE MOVIMIENTO</b>
                        </h4>
                        <div class="col-xs-10 col-sm-offset-2 col-sm-10">
                            <div class="form-group">
                                <label for="emailP">Email</label>
                                <input id="emailP" class="form-control" name="emailP" disabled="true" value="{{emailP}}"
                                       placeholder="{{emailP}}">
                            </div>
                            <div class="form-group">
                                <label for="ibanP">Iban</label>
                                <input id="ibanP" class="form-control" name="ibanP" disabled="true" value="{{ibanP}}"
                                       placeholder="{{ibanP}}"/>
                            </div>
                            <div class="form-group">
                                <label for="fechaP">Fecha</label>
                                <input type="date" id="fechaP" class="form-control" name="fechaP" value="{{fechaP}}"/>
                            </div>
                            <div class="form-group">
                                <label for="importeP">Importe total</label>
                                <input type="number" class="form-control" id="importeP" name="importeP" value="{{importeP}}"
                                       placeholder="{{importeP}}"/>
                            </div>
                            <div class="form-group">
                                <label for="divisaP">Divisa</label>
                                <input char-counter class="form-control" maxlength="3" id="divisaP" name="divisaP"
                                       value="{{divisaP}}"/>
                            </div>
                            <div class="form-group">
                                <label for="conceptoP">Concepto</label>
                                <input size="60" class="form-control" id="conceptoP" name="conceptoP"
                                       value="{{conceptoP}}"/>
                            </div>
                            <div class="form-group">
                                <label for="saldoP">Saldo</label>
                                <input type="number" class="form-control" id="saldoP" name="saldoP" value="{{saldoP}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: rgba(0,33,255,0.11)">
                        <button type="submit" id="botonA" class="btn btn-primary button-send" on-click="altatransferencia"
                                style="float: right">
                            Alta movimiento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
      class AltaMovimientos extends Polymer.Element {
        static get is () { return 'alta-movimientos'; }

        constructor () {
          super();
          //this.emailP=localStorage.getItem("emailsesion");
          this.emailP=sessionStorage.getItem("emailsession");
          this.ibanP=sessionStorage.getItem("ibansession");
          //console.log(this.pruebasesion);

        }

        static get properties () {
          return {
            noCargados: {
              type: Boolean,
              value: true
            },
            emailP: {
              type: String
            },
            ibanP: {
              type: String
            },
            fechaP: {
              type: Date,
              value: new Date()
            },
            importeP: {
              type: Number,
              value: 0
            },
            divisaP: {
              type: String,
              value: ''
            },
            conceptoP: {
              type: String,
              value: ''
            },
            saldoP: {
              type: Number,
              value: 0
            }
          };
        }

        altatransferencia () {
          var request = new XMLHttpRequest();
          //request.open("POST", "http://servidorback/clientes", false);
          request.open('POST', 'http://localhost:3001/movimientosproyecto', false);
          request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader('Content-Type', 'application/json');
          var nuevoMovimientos = {
            email: this.$.emailP.value,
            iban: this.$.ibanP.value,
            fecha: this.$.fechaP.value,
            importe: this.$.importeP.value,
            divisa: this.$.divisaP.value,
            concepto: this.$.conceptoP.value,
            saldo: this.$.saldoP.value
          };
          request.send(JSON.stringify(nuevoMovimientos));
          this.respuesta = request.responseText;

          switch (request.status) {
            case 200:
                this.dispatchEvent(new CustomEvent('nuevomovimiento', {detail: {noCargados: true}}));
              break;
            default:

          }
        }
      }

      window.customElements.define(AltaMovimientos.is, AltaMovimientos);
    </script>
</dom-module>
