<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="shared-styles.html">
<dom-module id="alta-usuario">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <style include="shared-styles">

            :host {
                display: block;
                margin: 0 auto;
                padding: 10px;
            }

            firebase-auth {
                display: none;
            }

            #reset {
                color: grey;
                text-decoration: none;
                font-size: 12px;
                font-style: italic;
                font-weight: lighter;

            }

            #reset:hover {
                color: grey;
                text-decoration: underline;
            }

            .emailPWError {
                color: var(--error-color);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin: 0;
                padding: 0;
            }

            .emailPWMessage {
                color: var(--primary-color);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin: 0;
                padding: 0;
            }

            .c-button--primary {
              background-color: #028484;
              color: #fff;
              transition: color .25s ease-in-out,background-color .25s ease-in-out;
            }

            form {
                min-width: 200px;
                margin: 0 auto;
            }
            label {
                color: white;
            }
            b {
                color: white;
            }

        </style>
        <div>
            <div class="emailPWError"></div>
            <div class="emailPWMessage"></div>
        </div>



        <div class="container-fluid">
            <div class="col-lg-10 col-md-10">
                <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>ALTA DE USUARIO</b>
                        </h4>
                        <div class="col-xs-10 col-sm-offset-2 col-sm-10">
                            <div class="form-group">
                                <label for="emailInput">Email</label>
                                <input id="emailInput" name="emailInput" class="form-control" value="{{email}}" placeholder="{{email}}">
                            </div>
                            <div class="form-group">
                                <label for="pwInput">Password</label>
                                <input id="pwInput" name="pwInput" type="password" class="form-control" value="{{pw}}"
                                       placeholder="{{pw}}"/>
                            </div>
                            <div class="form-group">
                                <label for="pw2Input">Password</label>
                                <input id="pw2Input" name="pw2Input" type="password" class="form-control" value="{{pw2}}"
                                       placeholder="{{pw2}}"/>
                            </div>
                            <div class="form-group">
                                <label for="pwInput">Documento identidad (Dni, Pasaporte)</label>
                                <input id="dniInput" name="dniInput" type="dni" class="form-control" value="{{dni}}"
                                       placeholder="{{dni}}"/>
                            </div>


                            <!--
                                                <div class="form-group">
                                                    <label for="pwInput">IBAN</label>
                                                    <input id="ibanInput" name="ibanInput" type="iban" class="form-control" value="{{iban}}"
                                                           placeholder="{{dni}}"/>
                                                </div>
                            -->
                            <div hidden$="{{!calvesdif}}" class="alert alert-warning col-xs-12 col-sm-offset-2 col-sm-8">Error al dar de alta el usuario</div>
                            <div hidden$="{{!usuexist}}" class="alert alert-warning col-xs-12 col-sm-offset-2 col-sm-8">Usuario dado de alta correctamente</div>


                        </div>
                    </div>
                    <div class="card-footer" style="background-color: rgba(0,33,255,0.11)">
<!--
                        <button type="button" id="userSignIn" class="btn btn-primary btn-xs"
                                style="float: right" on-click="altaCliente">
 -->
                         <button type="button" id="userSignIn" class="btn btn-lg c-button--primary"
                                 style="float: right" on-click="altaCliente">
                            Alta
                        </button>
                    </div>
                </div>
            </div>

            <!-- </form> -->
        </div>
    </template>
    <script>

      class altausuario extends Polymer.Element {
        static get is () { return 'alta-usuario'; }

        static get properties () {
          return {
            email: {
              type: String,
              value: ''
            },
            calvesdif: {
              type: Boolean,
              value: false
            },

            usuexist: {
              type: Boolean,
              value: false
            },
            pw: {
              type: String,
              value: ''
            },
            pw2: {
              type: String,
              value: ''
            },
            dni: {
              type: String,
              value: ''
            },
            iban: {
              type: String,
              value: ''
            },
            appName: {
              type: String
            },
            /**
             * `user` represents the user object returned by the firebase-auth element
             */
            user: {
              type: Object,
              notify: true,
              reflectToAttribute: true
            },
            /**
             * `signedIn` represents the signed in state returned by the firebase-auth element
             */
            signedIn: {
              type: Boolean,
              notify: true,
              reflectToAttribute: true
            },
            /**
             * `debug` represents if the debug region is shown
             */
            debug: {
              type: Boolean,
              value: false,
            },
            /**
             * `allows to set custom password reset message `
             */
            passwordResetMessage: {
              type: String,
              value: 'Password reset email has been sent. Please check your inbox.'
            },
            /**
             * If true, SignUp will be hidden.
             */
            noSignUp: {
              type: Boolean,
              value: false
            },
            /**
             * If true, will sign up a user who attempts to sign in with an account that doesn't already exist
             */
            autoSignUp: {
              type: Boolean,
              value: false
            },
            /**
             * `statusKnown` represents the status known state returned by the firebase-auth element
             */
            statusKnown: {
              type: Boolean,
              notify: true
            },
          };
        }

        ready(){
          super.ready();

          this.pruebasesion=localStorage.getItem("emailsesion");
          this.pruebasesion=sessionStorage.getItem("emailsesion");
          console.log(this.pruebasesion);
        }
// INI ALTA CLIENTE POSTGRE
        altaCliente () {
          // CONTROLAR QUE TODOS LOS CAMPOS ESTÉN INFORMADOS PARA HABILITAR EL BOTÓN DE ALTA.
          //VALIDAR LA TIPOLOGÍA DE CADA UNO DE LOS CAMPOS.
          //VALIDAR SI EL USUARIO INTRODUCIDO EXISTE O NO.
          // VALIDAR QUE LOS CAMPOS PASS SEAN IGUALES PARA HABILITAR EL BOTÓN DE ALTA.
        //if(){
        if(this.$.pwInput.value===this.$.pw2Input.value){


                              var request = new XMLHttpRequest();
                              request.open('POST', 'http://localhost:3001/altausuarios', false);
                              request.setRequestHeader('Accept', 'application/json');
                              request.setRequestHeader('Content-Type', 'application/json');
                              var nuevoCliente = {
                                'email': this.$.emailInput.value,
                                'password': this.$.pwInput.value,
                                'dni': this.$.dniInput.value
                                // 'iban': this.$.ibanInput.value
                              };
                              var body = JSON.stringify(nuevoCliente);
                              request.send(body);
                              this.respuesta = request.responseText;
                              console.log('Prueba salida log ' + this.respuesta);
                              console.log('request.status ' + request.status);
                              //
                              // localStorage.setItem("emailsession", this.$.emailInput.value);
                              // sessionStorage.setItem("emailsession", this.$.emailInput.value);
                              // //alert('componente alta-usuario antes del dispatchEvent');
                              // this.dispatchEvent(new CustomEvent('posicionusuario', {detail: {noCargados: true}}));
                              // //this.noCargados = false;
                              if(request.status === 200){
                                switch (request.responseText) {
                                  case 'USUARIO DADO DE ALTA CORRECTAMENTE':
                                      this.usuexist="true";
                                      localStorage.setItem("emailsession", this.$.emailInput.value);
                                      sessionStorage.setItem("emailsession", this.$.emailInput.value);
                                      //this.dispatchEvent(new CustomEvent('altausuarioapp', {detail: {noCargados: true}}));
                                      //this.dispatchEvent(new CustomEvent('altacuenta', {detail: {noCargados: true}}));
                                      this.dispatchEvent(new CustomEvent('altausuarionuevo', {detail: {noCargados: true}}));
                                    break;
                                  default:

                                    this.dispatchEvent(new CustomEvent('posicionusuario', {detail: {noCargados: true}}));
                                }
                              }
          }else{

              this.calvesdif="true";

          }

        }


        // switch (request.status) {
        //   case 200:
        //       this.dispatchEvent(new CustomEvent('altacuenta', {detail: {noCargados: true}}));
        //     break;
        //   default:



// FIN ALTA CLIENTE POSTGRE

        // fin prueba Postgre
      }

      window.customElements.define(altausuario.is, altausuario);
    </script>
</dom-module>
