<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="alta-cuentas">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }

            .button-send button {
                font-size: 14px;
                cursor: pointer;
            }
        </style>
        <div class="container-fluid" style="padding-top: 10px">
            <div class="col-lg-10 col-md-10">
                <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
                    <div class="card-body">


                        <h4 class="card-title">
                            <b>ALTA DE CUENTA</b>
                        </h4>
                        <div class="col-xs-10 col-sm-offset-2 col-sm-10">
                            <div class="form-group">
                                <label for="emailA">Email</label>
                                <input id="emailA" class="form-control" name="emailP" disabled="true" value="{{emailA}}"
                                       placeholder="{{emailA}}">
                            </div>
                            <div class="form-group">
                                <label for="ibanA">Iban</label>
                                <input id="ibanA" class="form-control" name="ibanA" value="{{ibanA}}"
                                       placeholder="{{ibanA}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: rgba(0,33,255,0.11)">
                        <button type="button" id="botonC" class="btn btn-primary btn-xs" on-click="altacuentas"
                        style="float: right">
                            Alta cuenta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
      class AltaCuentas extends Polymer.Element {
        static get is () { return 'alta-cuentas'; }

        constructor () {
          super();
          this.emailA=sessionStorage.getItem("emailsession");

        }

        static get properties () {
          return {
            noCargados: {
              type: Boolean,
              value: true
            },
            emailP: {
              type: String
              //value: 'miguel.diaz.diaz@bbva.com'
            },
            ibanA: {
              type: String,
              value: ''
              //value: 'ES0182'
            }
          };
        }

        altacuentas () {
          var request = new XMLHttpRequest();
          request.open('POST', 'http://localhost:3001/cuentasproyecto', false);
          request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader('Content-Type', 'application/json');
          var nuevaCuenta = [{
            'email': this.$.emailA.value,
            'iban': this.$.ibanA.value
          }];
          request.send(JSON.stringify(nuevaCuenta));
          this.respuesta = request.responseText;

          switch (request.status) {
            case 200:

                this.dispatchEvent(new CustomEvent('altacuenta', {detail: {noCargados: true}}));
              break;
            default:

          }

        }
      }

      window.customElements.define(AltaCuentas.is, AltaCuentas);
    </script>
</dom-module>​
