<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="consulta-cuentasposicion">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">

<!--
        <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-10">

                          <div class="row" style="margin-top: 20px" align="center">
                               <div class="col-xs-12 col-sm-offset-2 col-sm-8">
 -->
 <div class="container-fluid" style="padding-top: 10px">
     <div class="col-lg-10 col-md-10">
         <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
             <div class="card-body">

                                           <h4 class="card-title">
                                               <b>POSICIÓN DE CUENTAS</b>
                                           </h4>
                                            <table class="table table-hover">
                                            <!-- <div class="col-xs-12 col-sm-offset-2 col-sm-8"> -->
                                            <!-- <table class="table table-striped"> -->

                                                <thead>
                                                      <!-- <th hidden="true">USUARIO</th> -->
                                                      <th>IBAN</th>
                                                      <th></th>
                                                      <th></th>
                                                </thead>
                                                <template is="dom-repeat" items="{{prueba}}">
                                                        <tbody>
                                                          <!-- <tr dom-repeatable on-click="consultamov"> -->
                                                            <tr dom-repeat>
<!--
                                                                    <td hidden="true">
                                                                        [[item.email]]
                                                                    </td>
                                                                     -->
                                                                    <td>
                                                                        [[item.iban]]
                                                                    </td>
                                                                    <td>
                                                                      <button class="btn btn-primary" on-click="order">Movimientos</button>
                                                                    </td>
                                                                    <td>
                                                                      <button class="btn btn-primary" on-click="transfer">Transferencia</button>
                                                                    </td>
                                                            </tr>
                                                        </tbody>
                                                </template>
                                            </table>


                                </div>
                      </div>
                    </div>
              </div>






    </template>
    <script>
      class ConsultaCuentasposicion extends Polymer.Element {
        static get is () { return 'consulta-cuentasposicion'; }

        static get properties () {
          return {
            titular: {
              type: String,
              value: 'Login TechU - Consulta saldos'
            },

            prueba: {
              type: Array,
              value: function () {return [];}
            }
          };
        }

        constructor () {
          super();
        }

        ready() {
          super.ready();
          this.obtenerMovimientos();
        }

        transfer(e){
          sessionStorage.setItem("ibansession", e.model.item.iban);
          this.dispatchEvent(new CustomEvent('transferdesdeposic', {detail: {noCargados: true}}));
        }

        order(e){
          sessionStorage.setItem("ibansession", e.model.item.iban);
          this.dispatchEvent(new CustomEvent('movimientoscuenta', {detail: {noCargados: true}}));
        }

        obtenerMovimientos () {
          var request = new XMLHttpRequest();
          request.open('POST', 'http://localhost:3001/cuentasproyectoo', false);
          //request.open("GET", "http://localhost:3001/cuentasproyecto", true);
          request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader('Content-Type', 'application/json');
          request.send(JSON.stringify({email:sessionStorage.getItem("emailsession")}));
          this.prueba = JSON.parse(request.responseText);
        }

        altacuentasposicion(){

          this.dispatchEvent(new CustomEvent('altacuentaposicion', {}));
        }

      }

      window.customElements.define(ConsultaCuentasposicion.is, ConsultaCuentasposicion);
    </script>


</dom-module>
