<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="my-icons.html">
<link rel="lazy-import" href="alta-cuentas.html">
<link rel="lazy-import" href="alta-movimientos.html">
<link rel="lazy-import" href="alta-usuario.html">
<link rel="lazy-import" href="consulta-cuentasposicion.html">
<link rel="lazy-import" href="movimientos-proyecto.html">
<link rel="lazy-import" href="transfer-proyecto.html">
<link rel="lazy-import" href="sign-in.html">
<link rel="lazy-import" href="view-404.html">

<dom-module id="esqueleto-principal">
    <template>
        <style>
            :host {
                --app-primary-color: #4285f4;
                /*--app-secondary-color: black;*/
                --app-secondary-color: #99b4cc;
                display: block;
                color: white;
            }

            app-drawer-layout app-drawer {
                color: #484848;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            .background-img {
                /*background-image: url('http://www.madridesnoticia.es/media/Default%20Files/Actualidad/2017/02/sede-bbva/170208-vela-bbva-01.JPG');*/
                background-image: url('http://e02-expansion.uecdn.es/assets/multimedia/imagenes/2015/05/24/14324891543186.jpg');

                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        </style>

        <app-location
                route="{{route}}"
                url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route
                route="{{route}}"
                pattern="[[rootPath]]:page"
                data="{{routeData}}"
                tail="{{subroute}}">
        </app-route>
        <app-drawer-layout fullbleed narrow="{{narrow}}">
            <!-- Drawer content -->
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <app-toolbar>MENU</app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="sign-in" href="[[rootPath]]sign-in" style="color:#99b4cc" hidden$="{{noCargados}}">
                        Acceso
                    </a>

                    <div hidden$="{{!noCargados}}">
                        <!--
                                              <a name="transfer-proyecto" href="[[rootPath]]transfer-proyecto">
                                                  Realizar transferencia
                                              </a>
                         -->

                        <!--
                                              <a name="movimientos-proyecto" href="[[rootPath]]movimientos-proyecto">
                                                  Consulta movimientos
                                              </a>

                                               -->
                        <a name="consulta-cuentasposicion" href="[[rootPath]]consulta-cuentasposicion">
                            Posición cuentas
                        </a>
                        <a name="alta-cuentas" href="[[rootPath]]alta-cuentas">
                            Alta cuentas
                        </a>
                        <!--
                        <a name="alta-usuario" href="[[rootPath]]alta-usuario">
                            Alta usuario
                        </a>
                         -->
                        <!--
                                              <a name="alta-movimientos" href="[[rootPath]]alta-movimientos">
                                                  Realizar transferencia
                                              </a>
                        -->

                        <a name="geolocalizacion-oficina" href="[[rootPath]]geolocalizacion-oficina">
                            Datos oficina
                        </a>
                    </div>
                </iron-selector>
            </app-drawer>
            <!-- Main content -->
            <app-header-layout has-scrolling-region class="background-img">
                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar>

<!--
                        <div main-title>
                            [[page]]
                        </div>
 -->
                         <div main-title>
                             BBVA Tech University
                         </div>
                        <div class="list-inline">
                          <b class="rigth" hidden$="{{!noCargados}}">
                            Hola {{user}}
                          </b>
                          <a class="rigth" name="logoutname"
                            href="[[rootPath]]sign-in"
                            on-click="logout"
                            hidden$="{{!noCargados}}"
                            style="margin-left: 15px; color:white; font-size:13px; font-weight:bold">
                            Salir
                          </a>
                        </div>
                        <paper-icon-button icon="my-icons:menu" drawer-toggle>
                        </paper-icon-button>
                    </app-toolbar>
                </app-header>
                <iron-pages
                        selected="[[page]]"
                        attr-for-selected="name"
                        fallback-selection="view-404"
                        role="main">
                    <alta-cuentas id="altacuentas" name="alta-cuentas"></alta-cuentas>
                    <alta-movimientos id="altamovimientos" name="alta-movimientos"></alta-movimientos>
                    <alta-usuario id="altausuario" name="alta-usuario"></alta-usuario>
                    <!-- <alta-usuario name="altausuario"></alta-usuario> -->
                    <consulta-cuentasposicion id="consultacuentasposicion"
                                              name="consulta-cuentasposicion"></consulta-cuentasposicion>
                    <movimientos-proyecto id="movimientosproyecto" name="movimientos-proyecto"></movimientos-proyecto>
                    <geolocalizacion-oficina id="geolocalizacionoficina"
                                             name="geolocalizacion-oficina"></geolocalizacion-oficina>
                    <!-- <transfer-proyecto id="transferproyecto" name="transfer-proyecto"></transfer-proyecto> -->
                    <sign-in id="signin" name="sign-in"></sign-in>
                    <!-- <view-404 name="view-404"></view-404> -->
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>

    <script>
        class EsqueletoPrincipal extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
            static get is() {
                return 'esqueleto-principal';
            }

            constructor() {
                super();
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged'
                    },
                    noCargados: {
                        type: Boolean,
                        value: false
                    },
                    routeData: Object,
                    subroute: String,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String
                };
            }

// INI = Evento para poner visibles las opciones de menú cuando existe el usuarios.
            ready() {
                super.ready();
                //this.$.user = localStorage.getItem("emailsession");

                this.$.user = sessionStorage.getItem("emailsession");


                //this.$.signin.addEventListener('opcionesVisibles', e => {this._opvisibles(e)});
                this.$.signin.addEventListener('opcionesVisibles', e => {
                    this._opvisibles(e);
                    this._routePageChanged('consulta-cuentasposicion');
                });
                this.$.signin.addEventListener('altausuarioss', e => {
                    this._routePageChanged('alta-usuario')
                });
                this.$.altausuario.addEventListener('posicionusuario', e => {
                    this._routePageChanged('consulta-cuentasposicion');
                });
                // FIN = Evento para poner visibles las opciones de menú cuando existe el usuarios.
                this.$.consultacuentasposicion.addEventListener('movimientoscuenta', e => {
                    this._routePageChanged('movimientos-proyecto')
                });
                this.$.altamovimientos.addEventListener('nuevomovimiento', e => {
                    this._routePageChanged('movimientos-proyecto');
                    this.$.movimientosproyecto.obtenerMovimientos()

                });
                this.$.altacuentas.addEventListener('altacuenta', e => {
                    this._routePageChanged('consulta-cuentasposicion');
                    this.$.consultacuentasposicion.obtenerMovimientos()

                });
                this.$.altausuario.addEventListener('altausuarionuevo', e => {
                    this._opvisibles(e);
                    // this._routePageChanged('consulta-cuentasposicion');
                    this._routePageChanged('alta-cuentas');
                });
                this.$.consultacuentasposicion.addEventListener('altacuentaposicion', e => {

                    this._routePageChanged('alta-cuentas');
                });
                this.$.consultacuentasposicion.addEventListener('transferdesdeposic', e => {
                    this._opvisibles(e);
                    this._routePageChanged('alta-movimientos');
                });
            }

            logout() {
                this.noCargados = false;
                localStorage.setItem("emailsession", null);
                sessionStorage.setItem("emailsession", null);
                localStorage.setItem("ibansession", null);
                sessionStorage.setItem("ibansession", null);
                this.$.signin.salidaok = false;
                this.$.signin.salidako = false;
                this._routePageChanged('sign-in');
            }

// FIN = Evento para poner visibles las opciones de menú cuando existe el usuarios.
            static get observers() {
                return [
                    '_routePageChanged(routeData.page)'
                ];
            }

// INI = Evento para poner visibles las opciones de menú cuando existe el usuarios.
            _opvisibles(e) {
                this.noCargados = e.detail.noCargados;
                this.user = sessionStorage.getItem("emailsession");

            }

// FIN = Evento para poner visibles las opciones de menú cuando existe el usuarios.


            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'view1' in that case.
                // this.page = page || 'view1';
                switch (page) {
                    case 'components':
                        this.page = 'sign-in';
                        break;
                    default:
                        this.page = page;
                        break;
                }

                //this.page = 'sign-in';
                // Close a non-persistent drawer when the page & route are changed.
                if (!this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                // console.log(this.resolveUrl('my-' + page + '.html'));
                console.log('resolveUrl --> ' + this.resolveUrl(page + '.html'));
                // var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
                var resolvedPageUrl = this.resolveUrl(page + '.html');
                console.log('resolveUrl22 --> ' + this.resolveUrl(page + '.html'));
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'view-404';
            }
        }

        window.customElements.define(EsqueletoPrincipal.is, EsqueletoPrincipal);
    </script>
</dom-module>
