<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<script src="geolocalizacion/good-map.js" async defer></script>

<dom-module id="geolocalizacion-oficina">
    <template>
        <style>
            :host {
                display: block;
            }

            good-map {
              display: block;
              height: 400px;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">


        <div class="container-fluid">
            <div class="col-lg-10 col-md-10">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.3);margin-left: 10%;padding-top: 10px">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>OFICINA CLIENTE</b>
                        </h4>
                        <h5>Oficina BBVA 7402</h5>
                        <p class="card-text" style="padding: 10px">
                            <label>Madrid-ciudad Bbva</label><br>
                            <label>Azul 2. Ed.america Del Norte</label><br>
                            <label>28050 Madrid, Madrid</label><br>
                            <label>913748402</label><br>
                        </p>
                    </div>
                    <div class="card-body">
                        <good-map api-key="AIzaSyAw56uOf7-QquVw9tbzSQu8lF0OqoqDyEA"
                                  latitude="40.501244" longitude="-3.665493" draggable="true" zoom="17">
                        </good-map>
                    </div>
                    <div class="card-footer" style="background-color: rgba(0,0,0,0.3)">
                        <button class="btn btn-primary btn-xs" style="float: right">Reservar Cita</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
      class GeolocalizacionOficina extends Polymer.Element {
        static get is () { return 'geolocalizacion-oficina'; }

        static get properties () {
          return {
            titular: {
              type: String,
              value: 'Login TechU - Consulta saldos'
            },
            prueba: {
              type: Array,
              value: function () {return [];}
            }
          };
        }

        constructor () {
          super();
        }


      }

      window.customElements.define(GeolocalizacionOficina.is, GeolocalizacionOficina);
    </script>


</dom-module>
