<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="movimientos-proyecto">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">

<!--
        <div class="container-fluid" style="width: 850px;">
            <div class="row">
 -->


 <div class="container-fluid" style="padding-top: 10px">
     <div class="col-lg-10 col-md-10">
         <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
             <div class="card-body">





            <!--
                        <div class="col-xs-12" style="padding-top: 10px">
                            <h1>
                                <button type="button" class="btn btn-primary" on-click="obtenerMovimientos"
                                        style="float: right;cursor: pointer">
                                    Obtener movimientos
                                </button>
                            </h1>
                        </div>
             -->

                        <div class="container-fluid" style="margin-top: 20px">

                          <h4 class="card-title">
                              <b>LISTADO MOVIMIENTOS</b>
                          </h4>

                            <div class="col-xs-12">
                                <table class="table table-hover">
                                    <thead>
                                        <th>IBAN</th>
                                        <th>FECHA</th>
                                        <th>IMPORTE</th>
                                        <th>DIVISA</th>
                                        <th>CONCEPTO</th>
                                        <th>SALDO</th>
                                    </thead><del></del>
                                    <template is="dom-repeat" items="{{prueba}}">
                                        <tbody>
                                          <tr dom-repeatable>
                                              <td>
                                                  [[item.iban]]
                                              </td>
                                              <td>
                                                  [[item.fecha]]
                                              </td>
                                              <td>
                                                  [[item.importe]]
                                              </td>
                                              <td>
                                                  [[item.divisa]]
                                              </td>
                                              <td>
                                                  [[item.concepto]]
                                              </td>
                                              <td>
                                                  [[item.saldo]]
                                              </td>
                                          </tr>
                                        </tbody>
                                    </template>
                                </table>
                            </div>
                        </div>
<!--
          </div>
        </div>
 -->


</div>
</div>
</div>
</div>

    </template>
    <script>
      class MovimientosProyecto extends Polymer.Element {
        static get is () { return 'movimientos-proyecto'; }

        static get properties () {
          return {
            titular: {
              type: String,
              value: 'Login TechU - Consulta saldos'
            },
            prueba: {
              type: Array,
              value: function () {return [];}
            }
          };
        }

        constructor () {
          super();
        }

        ready() {
          super.ready();
          this.obtenerMovimientos();
        }

        // obtenerMovimientos (email_session, iban_session) {
        //   var request = new XMLHttpRequest();
        //   request.open('GET', 'http://localhost:3001/movimientosproyecto', true);
        //   request.setRequestHeader('Accept', 'application/json');
        //   request.setRequestHeader('Content-Type', 'application/json');
        //   request.send("email=" + email_session + "&iban=" + iban_session);
        //   this.prueba = JSON.parse(request.responseText);
        //   console.log(this.prueba);
        // }

        // obtenerMovimientos (email_session, iban_session) {
        //   var request = new XMLHttpRequest();
        //   request.open('GET', 'http://localhost:3001/movimientosproyecto', true);
        //   request.setRequestHeader('Accept', 'application/json');
        //   request.setRequestHeader('Content-Type', 'application/json');
        //   request.send();
        //   this.prueba = JSON.parse(request.responseText);
        //   console.log(this.prueba);
        // }



          obtenerMovimientos () {
            var request = new XMLHttpRequest();

            request.open('POST', 'http://localhost:3001/movimientosproyectoss', false);
            request.setRequestHeader('Accept', 'application/json');
            request.setRequestHeader('Content-Type', 'application/json');

            var nuevaCuenta = {
              'email': sessionStorage.getItem("emailsession"),
              'iban': sessionStorage.getItem("ibansession")
            };
            request.send(JSON.stringify(nuevaCuenta));
            //this.prueba = JSON.parse(request.responseText);
            //this.prueba = request.responseText;
            this.prueba = JSON.parse(request.responseText);

          }


      }

      window.customElements.define(MovimientosProyecto.is, MovimientosProyecto);
    </script>


</dom-module>
