<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="sign-in">
    <template>
        <style>
            :host {
                display: block;
                margin: 0 auto;
                padding: 10px;
                --app-primary-color: #4285f4;
            }

            .c-button--primary {
              background-color: #028484;
              color: #fff;
              transition: color .25s ease-in-out,background-color .25s ease-in-out;
            }

            .m-first-nav-header__control, .m-first-nav-header__control--icon-right {
                padding: 0;
                border: none;
                background-color: transparent;
                color: #2dcccd;
                line-height: 3.2rem;
                cursor: pointer;
                font-size: 1.4rem;
                font-family: BBVA Web Book,sans-serif;
            }

        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">

        <!-- <div class="container-fluid" style="width: 850px;"> -->
        <div class="container-fluid">
                  <div class="col-lg-8 col-md-10">
                      <div class="card h-100" style="background-color: rgba(0,33,255,0.11);margin-left: 10%;padding-top: 10px">
                          <div class="card-body">

                                <div class="form-group" style="padding:10px">


                                <label for="emailInput">Email</label>
                                <input id="emailInput" name="emailInput" class="form-control" value="{{email}}"
                                       placeholder="{{email}}" style="width: 80%;">
                            <!-- </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-offset-2 col-sm-8"> -->

                                <label for="pwInput">Password</label>
                                <input id="pwInput" name="pwInput" type="password" class="form-control" value="{{pw}}"
                                       placeholder="{{pw}}" style="width: 80%;"/>

                                 <div hidden$="{{!salidaok}}"   class="alert alert-success">Usuario logado correctamente</div>
                                 <div hidden$="{{!salidako}}"   class="alert alert-success">Error al realizar el acceso</div>
                                 <div hidden$="{{!salidanoexiste}}" class="alert alert-warning form-control" style="width: 80%;">Usuario no existe</div>

                              </div>

<!--
                              <div hidden$="{{!salidaok}}" style="width: 80%;" class="alert alert-success col-xs-12 col-sm-offset-2 col-sm-8">Usuario logado correctamente</div>
                              <div hidden$="{{!salidako}}" style="width: 80%;" class="alert alert-success col-xs-12 col-sm-offset-2 col-sm-8">Error al realizar el acceso</div>
                              <div hidden$="{{!salidanoexiste}}" style="width: 80%;" class="alert alert-warning col-xs-12 col-sm-offset-2 col-sm-8">Usuario no existe</div>
 -->



                      </div>

                    <div class="card-footer" style="background-color: rgba(0,33,255,0.11)">
                    <!-- <button type="button" id="emailSignIn" class="btn btn-lg btn-primary" on-click="logincliente"
                            style="cursor:pointer;"> -->

                            <button type="button" id="emailSignIn" class="btn btn-lg c-button--primary" on-click="logincliente"
                                    style="cursor:pointer;">

                        Acceso
                    </button>
                    <button type="button" id="altacliente" class="btn btn-lg c-button--primary" on-click="altacliente"
                            style="cursor:pointer;float: right">
                    <!-- <button type="button" id="altacliente" class="btn .m-first-nav-header__control--icon-right" on-click="altacliente"
                            style="cursor:pointer;float: right"> -->
                        Alta
                    </button>
                </div>
            </div>
        </div>
    </template>
    <script>


      class signin extends Polymer.Element {
        static get is () { return 'sign-in'; }

        static get properties () {
          return {
            titular: {
              type: String,
              value: 'Login TechU - Consulta saldos'
            },
            email: {
              type: String,
              value: ''

            },
            salidako: {
              type: Boolean,
              value: false

            },

            salidanoexiste: {
              type: Boolean,
              value: false

            },
            salidaok: {
              type: Boolean,
              value: false

            },
            pw: {
              type: String,
              value: ''

            },

          };
        }

        constructor () {
          super();
        }

        ready() {
          super.ready();
          // alert('EMAIL --> '+this.$.emailInput.value);
          // alert('PASSWORD --> '+this.$.pwInput.value);
          // this.$.emailInput.value = '';
          // this.$.pwInput.value = '';
          // alert('EMAIL DESPUES DE INICIALIZAR --> '+this.$.emailInput.value);
          // alert('PASSWORD DESPUES DE INICIALIZAR --> '+this.$.pwInput.value);
          //this.obtenerMovimientos();
          //this.$.signin.addEventListener('opcionesVisibles', e => {this._opvisibles(e)});

        }


        logincliente () {

          var request = new XMLHttpRequest();
          request.open('POST', 'http://localhost:3001/login', false);
          request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader('Content-Type', 'application/json');
          //var nuevoCliente = {"email":"migdiazdiaz@gmail.com","password":"2222"};
          var nuevoCliente = {'email': this.$.emailInput.value, 'password': this.$.pwInput.value};
          var body = JSON.stringify(nuevoCliente);
          request.send(body);
          this.respuesta = request.responseText;
          console.log('CODIGO DE ESTADO ---> '+request.status);
          if(request.status === 200){
            switch (request.responseText) {
              case 'USUARIO EXISTE EN BD':
                  this.salidaok="true";
                  localStorage.setItem("emailsession", this.$.emailInput.value);
                  sessionStorage.setItem("emailsession", this.$.emailInput.value);
                  this.dispatchEvent(new CustomEvent('opcionesVisibles', {detail: {noCargados: true}}));
                break;
              default:
                //this.salidako="true";
                this.dispatchEvent(new CustomEvent('posicionusuario', {detail: {noCargados: true}}));
            }
          }else{
            if(request.status === 500){
              localStorage.setItem("emailsession", this.$.emailInput.value);
              sessionStorage.setItem("emailsession", this.$.emailInput.value);
              this.salidanoexiste="true";

            }
          }
        }


        altacliente(){
          localStorage.setItem("emailsession", this.$.emailInput.value);
          sessionStorage.setItem("emailsession", this.$.emailInput.value);
          //debugger;
          this.dispatchEvent(new CustomEvent('altausuarioss', {detail: {}}));

        }


      }

      window.customElements.define(signin.is, signin);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</dom-module>
